<%- include("partials/header.ejs") %>

<h1>Compose</h1>
<form action="/compose" method="post">

    <div class="form-group">
        <label for="assignmentName">Assignment Name</label>
        <input type="text" name="assignmentName" class="form-control">

        <label for="courseName">Course</label>
        <input type="text" name="courseName" class="form-control">

        <label for="dueDate">Due Date</label>
        <input type="date" name="dueDate" class="form-control">


        <label for="assignmentBody">Body</label>
        <textarea name="assignmentBody" class="form-control"></textarea>
    </div>

    <button type="submit" name="button"
    class="btn btn-primary">Create Assignment</button>
</form>



<%- include("partials/footer.ejs") %>